<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="pretty.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
</head>

<body>
  <header>
    <div class="listimg">
      <img src="https://cdn.icon-icons.com/icons2/2954/PNG/512/list_icon_184836.png" alt="" style="width: 30px; height: 30px;">
    </div>
    <div>
      <!-- 검색 창 -->
    <!--<div class="container input-group mb-1">-->
      <!--input 태그 벨류 가져오기-->
      <!--검색 누를시 어디로? 페이지 이동-->
      <form action="/articles/search" class="input-group mb-1">
        <input type="text" required name="keyword" placeholder="Search..." class="form-control" id="search-input">
        <button type="submit" class="w-btn-outline w-btn-gray-outline" id="search" >검색</button>
      </form>
      <!--<button type= "submit" class="input-group-append btn btn-light" id="seach">검색</button> -->
    <!--</div>-->
    </div>
  </header>
  <section>
  <div class="container">
    <div class="Blogname">
      <h1>Blog Web Study</h1>
    </div>
    <div>
      <a href="/articles/new" class="button btnPush btnGray">New Article</a>
    </div>
    <br>
    <br>
    
    <% articles.forEach(article=> { %>
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title">
            <%= article.title %>
          </h4>
          <div class="card-subtitle text-muted mb-2">
            <%= article.createdAt.toLocaleDateString() %>
          </div>
          <div class="card-text mb-2">
            <%= article.description %>
          </div>
          <!--article.slug로 개별기사에 접근할 수 있게 해줌//article.id로 할시 url id 값이 보여지기 때문에 article.slug로 바꿔줌-->
          <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>
          <a href="articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
          <!--메인페이지 delete 기능-->
          <!--/articles/id 경로로 데이터가 전달-->
          <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
            <!--제출 유형을 갖는 button 생성-->
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
      <% }) %>
  </div>
</section>






</body>

</html>