<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% articles.forEach(article=> { %>
        <div class="card mt-4">
          <div class="card-body">
            <h4 class="card-title">
              <%= article.title %>
            </h4>
            <div class="card-subtitle">
              <%= article.createdAt.toLocaleDateString() %>
            </div>
            <div class="card-text">
              <%= article.description %>
            </div>
            <!--article.slug로 개별기사에 접근할 수 있게 해줌//article.id로 할시 url id 값이 보여지기 때문에 article.slug로 바꿔줌-->
            <a href="articles/<%= article.slug %>" class="read-more">Read More</a>
            <a href="articles/edit/<%= article.id %>" class="edit">Edit</a>
            <!--메인페이지 delete 기능-->
            <!--/articles/id 경로로 데이터가 전달-->
            <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
              <!--제출 유형을 갖는 button 생성-->
              <button type="submit" class="delete">Delete</button>
            </form>
          </div>
        </div>
        <% }) %>
</body>
</html>