<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/show.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Juno World</title>
</head>

<body>
  <div>
    <a href="/"><img src="https://www.shareicon.net/download/2016/01/19/705848_logo_512x512.png" alt="" style="width : 50px; height: 50px; margin: 15px;"></a>
  </div>
  <div class="show-body">
    <div class="title-sub">
      <div>    
        <h2 class="card-title">
          <!--새로운 게시물의 title을 제목으로 쓰겠다.-->
          <%= article.title %>
        </h2>
      </div>
      <div class="main-subtitle">
        <!--오늘 날짜 값 받아와서 div 태그에 담기-->
        <%= article.createdAt.toLocaleDateString() %>
      </div>
    </div>

      <div>
        <!--작성한 Markdown에 대한 정보-->
          <%- article.sanitizedHtml %>
      </div>
    <!--이전 메인페이지로 이동-->
    
    <!--특정 id 가 있는 edit 페이지로 이동-->
    <a href="/articles/edit/<%= article.id %>" class="edit">Edit</a>      
    </div>
    <a href="/articles/write/<%=article.id %>" class="write">Write</a>
    <!--게시물 댓글에 대한 정보-->
    <div class="comment-body">
      <% comments.forEach(comment=> { %>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              <%= comment.title %>
            </h4>
            
            <div class="card-text mb-2">
              <%= comment.description %>
            </div>
            <div class="card-subtitle">
              <%= comment.createdAt.toLocaleDateString() %>
            </div>
            <div class="com-edit-del">
              <div class="com-edit">
            <a href="/articles/write/edit/<%=article.slug%>/<%= comment.id %>" class="btn btn-info">Edit</a>
              </div>  
            <!--댓글 삭제 할때 경로를 article.slug로 전달 -->
              <div>
            <form action="/articles/write/<%=article.slug%>/<%= comment.id%>?_method=DELETE" method="POST" class="d-inline">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
              </div> 
            </div>
          </div>
        </div>
        <% }) %>
    </div>
  
</body>

</html>